.wrapper
    display: grid
    grid-template-columns: auto
    grid-template-rows: 100px
    
    .header
        background-color: green
        
    img 
        width: 300px
        height: auto










