.wrapper

  .header
    %ul.list
      %li.list-item
        %a.text-grey.cursor-not-allowed{href: "index.html"} Home
      %li.list-item
        %a.text-grey.cursor-not-allowed{href: "projects.html"} Projects
    
    
  .footer   
    - data.about.each do |about|
      %h3= about[:title]
      %p= about[:description]
      %link= about[:link]

    


       
  