.wrapper

  .header
    %ul.list-reset.flex
      %li
        -# %a.text-grey-light.hover:text-blue-darker{:href => "#"} Active
      %li
        %a.text-grey-light.cursor-not-allowed{href: "about.html"} About
      %li
        -# %a.text-grey-light.hover:text-blue-darker{:href => "#"} Link
      %li
        %a.text-grey-light.cursor-not-allowed{href: "projects.html"} Projects

  %img{alt: "No img", src: "images/bobby.jpg"}

  .footer 
    -# %ul.list-reset.flex
    -# %li
    -#   %a.text-grey-light.cursor-not-allowed{href: "Contact"} Contact


  
-# .projects
-#     - data.projects.each do |project|
-#         %h4= project[:name]
-#         %p= project[:description]

  