.wrapper

  .header
    %ul.list
      %li.list-item
        %a.text-grey.cursor-not-allowed{href: "about.html"} About
      %li.list-item
        %a.text-grey.cursor-not-allowed{href: "projects.html"} Projects

  .main
    %img{alt: "No img", src: "images/timon.jpg"}

  .footer 
    %h3.text Knowledge comes from presens of source within you
    %p Or you quote Thomas Ochman.. 
    %p Talk is cheap! Show me the code!
      
    


  