.wrapper

  .header
    Portfolio
    

  .grid-x
    .row
      .row-padding
        .row.small-up-2.medium-up-3.large-up-4
          -data.projects.each do |project|
            .column
              %h7= project[:name]
              %h6= project[:description]




       
