.wrapper

  .header
    %ul.list
      %li.list-item
        %a.text-grey.cursor-not-allowed{href: "index.html"} Home
      %li.list-item
        %a.text-grey.cursor-not-allowed{href: "about.html"} About
    
  .footer
    -data.projects.each do |project|
      .column
        %h7= project[:name]
        %h6= project[:description]
        %link= project [:link]




       
